job "apprise" {
  all_at_once = false

  constraint {
    attribute = "$${attr.kernel.name}"
    operator = "="
    value = "linux"
  }

  datacenters = ["dc1"]

  group "apprise" {

    constraint {
      operator = "distinct_hosts"
      value = "true"
    }

    count = 1

    task "apprise" {

      config {
        image = "caronc/apprise:latest"
        auth_soft_fail = false
        hostname = "$${attr.unique.hostname}-em"
        privileged = false
        network_mode = "weave"
        port_map = {"apprise" = 8000}
        cap_add = []
      }

      driver = "docker"
      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        cpu = 1000
        memory = 2000

        network {
          mbits = 10

          port "apprise" {
            static = 10001
          }
        }
      }

      service {

        check {
          address_mode = "${ test ? "driver" : "host" }"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "apprise"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }

        port = "apprise"
        tags = ["apprise","listen"]
        address_mode = "auto"
      }

      shutdown_delay = "0s"
    }
  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "service"

  update {
    max_parallel = 1
    health_check = "checks"
    min_healthy_time = "10s"
    healthy_deadline = "5m"
    progress_deadline = "10m"
    auto_revert = false
    canary = 0
    stagger = "10s"
  }
}
