job "vault-daemon" {
  all_at_once = false

  constraint {
    attribute = "$${attr.kernel.name}"
    operator = "="
    value = "linux"
  }

  datacenters = ["dc1"]

  group "vault" {

    constraint {
      operator = "distinct_hosts"
      value = "true"
    }

    count = 1

    task "vault" {

      config {
        image = "registry.gitlab.com/radix-labs/monorepo/vault:latest"
        args = ["server","-config","/opt/vault_config.conf"]
        auth_soft_fail = false
        command = "vault"
        hostname = "$${attr.unique.hostname}-vault"
        privileged = true
        network_mode = "weave"
        port_map = {
          "vault_listen" = 8200,
          "telemetry" = 8125
        }
        cap_add = ["IPC_LOCK"]
      }

      driver = "docker"
      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        cpu = 1000
        memory = 1000

        network {
          mbits = 10

          port "vault_listen" {
            static = 8200
          }

          port "telemetry" {
            static = 8125
          }
        }
      }

      service {
        port = "vault_listen"
        tags = ["vault","vault-listen"]
        address_mode = "auto"

        check {
          address_mode = "${ test ? "driver" : "host" }"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "vault_listen"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      shutdown_delay = "0s"
    }

  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "service"

  update {
    max_parallel = 1
    health_check = "checks"
    min_healthy_time = "10s"
    healthy_deadline = "5m"
    progress_deadline = "10m"
    auto_revert = false
    canary = 0
    stagger = "10s"
  }

}
