job "${prefix}zookeeper-daemons" {
  all_at_once = false

  constraint {
    attribute = "$${attr.kernel.name}"
    operator = "="
    value = "linux"
  }

  datacenters = ["dc1"]

  group "zookeeper" {

    constraint {
      operator = "distinct_hosts"
      value = "true"
    }

    volume "zookeeper_data" {
      type = "host"
      read_only = false
      source = "zookeeper_data"
    }

    count = ${ quorum_size }

    task "zookeeper" {

      volume_mount {
        volume = "zookeeper_data"
        destination = "/data"
        read_only = false
      }

      config {
        image = "zookeeper:3.4"
        auth_soft_fail = false
        hostname = "$${attr.unique.hostname}-zookeeper"
        privileged = false
        network_mode = "weave"
        port_map = {
          "client" = 2181,
          "follower" = 2888,
          "othersrvs" = 3888
        }
        cap_add = []
      }

      template {
        change_mode = "noop"
        destination = "data/myid"
        env = false
        left_delimiter = "{{"
        perms = "644"
        right_delimiter = "}}"
        data = "$${NOMAD_ALLOC_ID}"
        splay = "5s"
      }

      template {
        change_mode = "noop"
        destination = "conf/zoo.cfg"
        data = <<EOH
dataDir=/data
dataLogDir=/datalog
tickTime=2000
initLimit=5
syncLimit=2
clientPort=2181
autopurge.snapRetainCount=3
autopurge.purgeInterval=0
maxClientCnxns=60
standaloneEnabled=false
4lw.commands.whitelist=*
EOH
      }

      template {
        change_mode = "noop"
        destination = "local/conf/zoo_servers"
        data = <<EOH
{{ range $tag, $services := service "zookeeper-daemons-zookeeper-zookeeper|any" | byTag }}
{{ if $tag | contains "client" }}
{{ range $services }}
{{ scratch.MapSet .Address "client" .Port }}
{{ scratch.MapSet .Address "done" "false" }}
{{ end }}
{{ else }}
{{ if $tag | contains "follower" }}
{{ range $services }}
{{ scratch.MapSet .Address "follower" .Port }}
{{ scratch.MapSet .Address "done" "false" }}
{{ end }}
{{ else }}
{{ if $tag | contains "othersrvs" }}
{{ range $services }}
{{ scratch.MapSet .Address "othersrvs" .Port }}
{{ scratch.MapSet .Address "done" "false" }}
{{ end }}
{{ else }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ scratch.Set "index" 1 }}
{{ scratch.Set "ZOO_SERVERS" "" }}
{{ range $i, $services := service "zookeeper-daemons-zookeeper-zookeeper|any" }}
{{ if ($services.Tags | contains "zookeeper-quorum") }}
{{ $addr := (scratch.Get .Address)}}
{{ if not (index $addr "done" | parseBool) }}
{{ $mynode := "temp" }}
{{ with node }}
{{ if eq $services.Node .Node.Node }}
{{ scratch.Set "ZOO_SERVERS" (print (scratch.Get "ZOO_SERVERS") "server." (scratch.Get "index") "=" $services.Address ":2888:3888\n" )}}
{{ scratch.Set "ZOO_MY_ID" (scratch.Get "index") }}
{{ else }}
{{ scratch.Set "ZOO_SERVERS" (print (scratch.Get "ZOO_SERVERS") "server." (scratch.Get "index") "=" $services.Address ":" (index $addr "follower") ":" ( index $addr "othersrvs") "\n" )}}
{{ end }}
{{ scratch.MapSet $services.Address "done" "true"}}
{{ scratch.Set "index" (scratch.Get "index" | add 1 ) }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ scratch.Get "ZOO_SERVERS" }}
EOH
      }

      # for zk 2.5+weave, we need a zoo_replicated.cfg.dynamic file that gets edited by the scala code.
      # nomad doesn't like 'data = ""' so use an empty heredoc
      # consul connect obviates this so it will go away soon
      template {
        change_mode = "noop"
        destination = "conf/zoo_replicated.cfg.dynamic"
        data = <<EOH
        EOH
      }

      driver = "docker"
      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        cpu = 1000
        memory = 2048

        network {
          mbits = 10

          port "client" {
            static = 2181
          }

          port "follower" {
            static = 2888
          }

          port "othersrvs" {
            static = 3888
          }
        }
      }

      service {
        port = "client"
        tags = ["zookeeper-quorum","zookeeper-client"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "client"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "follower"
        tags = ["zookeeper-quorum","zookeeper-follower"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "client"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "othersrvs"
        tags = ["zookeeper-quorum","zookeeper-othersrvs"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "client"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      shutdown_delay = "0s"
    }
  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "service"

  update {
    max_parallel = 1
    health_check = "checks"
    min_healthy_time = "10s"
    healthy_deadline = "5m"
    progress_deadline = "10m"
    auto_revert = false
    canary = 0
    stagger = "10s"
  }
}
