job "${prefix}yugabyte" {
  all_at_once = false

  constraint {
    attribute = "$${attr.kernel.name}"
    operator = "="
    value = "linux"
  }

  datacenters = ["dc1"]

  group "yugabyte" {

    volume "ybmaster_data" {
      type = "host"
      read_only = false
      source = "ybmaster_data"
    }

    volume "ybtserver_data" {
      type = "host"
      read_only = false
      source = "ybtserver_data"
    }

    constraint {
      operator = "distinct_hosts"
      value = "true"
    }

    count = ${ quorum_size }

    task "ybmaster" {

      volume_mount {
        volume = "ybmaster_data"
        destination = "/ybmaster_data"
        read_only = false
      }

      config {
        image = "yugabytedb/yugabyte:latest"
        args = ["/timberland/exec/timberland-launcher_deploy.jar","launch","yugabyte-master"${ dev ? ",\"--dev\"" : ""}, "--prefix", "${prefix}"]
        auth_soft_fail = false
        command = "-jar"
        entrypoint = ["java"]
        hostname = "ybmaster-$${NOMAD_ALLOC_INDEX+1}"
        privileged = false
        network_mode = "weave"
        port_map = {
          "ybmasteradmin" = 7000,
          "ybmaster_rpc" = 7100
        }
        volumes = ["/opt/radix/timberland:/timberland"]
        cap_add = []
        mounts = [
          {
            type = "bind"
            target = "/ca.pem"
            source = "/opt/radix/certs/ca/cert.pem"
            readonly = true
          },
          {
            type = "bind"
            target = "/client-cert"
            source = "/opt/radix/certs/cli"
            readonly = true
          }
        ]
      }

      driver = "docker"

      env {
        "TLS_CA" = "/ca.pem",
        "TLS_CERT" = "/client-cert/cert.pem",
        "TLS_KEY" = "/client-cert/key.pem"
      }

      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        memory = 1000

        network {
          mbits = 10

          port "ybmasteradmin" {
            static = 7000
          }

          port "ybmaster_rpc" {
            static = 7100
          }
        }
      }

      service {
        port = "ybmasteradmin"
        tags = ["ybmaster","admin"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "ybmasteradmin"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      shutdown_delay = "0s"
    }


    task "ybtserver" {

      volume_mount {
        volume = "ybtserver_data"
        destination = "/ybtserver_data"
        read_only = false
      }

      config {
        image = "yugabytedb/yugabyte:latest"
        args = ["/timberland/exec/timberland-launcher_deploy.jar","launch","yugabyte-tserver"${dev ? ",\"--dev\"" : ""}, "--prefix", "${prefix}"]
        auth_soft_fail = false
        command = "-jar"
        entrypoint = ["java"]
        hostname = "ybtserver-$${NOMAD_ALLOC_INDEX+1}"
        privileged = false
        network_mode = "weave"
        port_map = {
          "ysqladmin" = 13000,
          "ybtserver" = 9000,
          "ycql" = 9042,
          "yedis" = 6379,
          "ysql" = 5433
        }
        volumes = ["/opt/radix/timberland:/timberland"]
        cap_add = []
        mounts = [
          {
            type = "bind"
            target = "/ca.pem"
            source = "/opt/radix/certs/ca/cert.pem"
            readonly = true
          },
          {
            type = "bind"
            target = "/client-cert"
            source = "/opt/radix/certs/cli"
            readonly = true
          }
        ]
      }

      driver = "docker"

      env {
        "TLS_CA" = "/ca.pem",
        "TLS_CERT" = "/client-cert/cert.pem",
        "TLS_KEY" = "/client-cert/key.pem"
      }

      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        cpu = 1000
        memory = 1000

        network {
          mbits = 10

          port "ysqladmin" {
            static = 13000
          }

          port "ybtserver" {
            static = 9001
          }

          port "ycql" {
            static = 9042
          }

          port "yedis" {
            static = 6379
          }

          port "ysql" {
            static = 5433
          }
        }
      }

      service {
        port = "ybtserver"
        tags = ["ybtserver","tserver"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "ybtserver"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "ysql"
        tags = ["ybtserver","ysql"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "ysql"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "ycql"
        tags = ["ybtserver","ycql"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "ycql"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "yedis"
        tags = ["ybtserver","yedis"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "yedis"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      service {
        port = "ysqladmin"
        tags = ["ybtserver","ysqladmin"]
        address_mode = "auto"

        check {
          address_mode = "host"
          grpc_use_tls = true
          initial_status = "critical"
          interval = "10s"
          method = "GET"
          port = "ysqladmin"
          protocol = "http"
          timeout = "2s"
          type = "tcp"
          tls_skip_verify = false
        }
      }

      shutdown_delay = "0s"
    }
  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "service"

  update {
    max_parallel = 1
    health_check = "checks"
    min_healthy_time = "10s"
    healthy_deadline = "5m"
    progress_deadline = "10m"
    auto_revert = false
    canary = 0
    stagger = "10s"
  }
}
