job "${prefix}runtime" {
  all_at_once = false
  datacenters = ["dc1"]
  group "runtime" {
    count = 3
    task "bootstrap" {

      vault {
        policies = ["read-consul-ui"]

        change_mode = "signal"
        change_signal = "SIGUSR1"
      }

      template {
        data = <<EOF
      {{with secret "secret/consul-ui-token"}}
      {{ if .Data.token}}
            CONSUL_HTTP_TOKEN = "{{.Data.token}}"
      {{else}}
      	    CONSUL_HTTP_TOKEN = ""
      {{end}}
      {{end}}
    EOF
        destination = "secrets/file.env"
        env = true
      }

      config {
        image = "docker.aws.radix.bio/runtime/runtime-bootstrap-docker:master"
        auth_soft_fail = false
        hostname = "${prefix}radix-runtime-bootstrap-$${NOMAD_ALLOC_INDEX}"
        network_mode = "weave"
        port_map = {"cluster" = 2552}
      }
      driver = "docker"
      env = {
        "TCP_AKKA_PORT" = "2552",
        "HOSTNAME" = "${prefix}runtime-bootstrap-discovery-$${NOMAD_ALLOC_INDEX}.service.consul",
      }
      kill_timeout = "10s"
      kill_signal = "SIGINT"
      leader = false
      resources {
        cpu = 100
        memory = 512
        network {
          mbits = 10
          port "cluster" { }
        }
      }
      service {
        name = "${prefix}runtime-bootstrap-discovery-$${NOMAD_ALLOC_INDEX}"
        port = "cluster"
        address_mode = "auto"
      }
      shutdown_delay = "0s"
    }
  }
  namespace = "default"
  priority = 50
  region = "global"
  type = "service"
}
