job "${prefix}yugabyte-kafka-connector" {
  all_at_once = false
  datacenters = ["dc1"]

  group "connector" {
    count = 1

    task "yugabyte-kafka-connector" {

      config {
        image = "appropriate/curl"
        auth_soft_fail = false
        command = "/local/start.sh"
        privileged = false
        cap_add = []
      }

      driver = "docker"
      kill_timeout = "5s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        memory = 100
      }

      shutdown_delay = "0s"

      template {
        change_mode = "noop"
        destination = "local/start.sh"
        env = false
        left_delimiter = "{{"
        perms = "755"
        right_delimiter = "}}"
        splay = "5s"
        data = <<EOH
        #!/usr/bin/env ash

        command="curl -X PUT \
        http://$${NOMAD_UPSTREAM_ADDR_kc-connect-0}/connectors/yugabyte/config \
        -H 'Content-Type: application/json' \
        -H 'Accept: application/json' \
        -d '{
        \"connector.class\": \"io.confluent.connect.jdbc.JdbcSinkConnector\",
        \"type.name\": \"radix\",
        \"offset.flush.interval.ms\": \"1000\",
        \"value.converter.schema.registry.url\": \"http://$${NOMAD_UPSTREAM_ADDR_kc-schema-registry-service-0}/\",
        \"topics.regex\": \".*-journal\",
        \"tasks.max\": \"1\",
        \"topic.prefix\": \"retool-postgres-\",
        \"mode\": \"bulk\",
        \"errors.tolerance\": \"all\",
        \"connection.url\": \"jdbc:postgresql://$${NOMAD_UPSTREAM_ADDR_yb-tserver-connect-0}?user=yugabyte&password=yugabyte\",
        \"value.converter\": \"io.confluent.connect.avro.AvroConverter\",
        \"key.converter\": \"org.apache.kafka.connect.storage.StringConverter\"
        }'"

        eval $command

        while [ $? -ne 0 ]; do sleep 2; eval $command; done
        EOH
      }
    }

    network {
      mbits = 10
      mode = "bridge"
    }

    service {
          name = "yb-kafka-connector-service"
          port = 8080
          tags = ["yb-connect"]
          address_mode = "auto"

          connect {
            sidecar_service {
              proxy {
                upstreams {
                  destination_name = "kc-connect-service"
                  local_bind_port = 8083
                }

                upstreams {
                  destination_name = "kc-schema-registry-service"
                  local_bind_port = 8081
                }

                upstreams {
                  destination_name = "yb-tserver-connect-0"
                  local_bind_port = 5433
                }
              }
            }
          }
        }
  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "batch"
}
