[Unit]
Description="HashiCorp Consul"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/opt/radix/timberland/consul/consul.json

[Service]
#User=consul
#Group=consul
ExecStart=/opt/radix/timberland/consul/consul agent $CONSUL_CMD_ARGS -config-dir=/opt/radix/timberland/consul
ExecReload=/opt/radix/timberland/consul/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536
EnvironmentFile=/opt/radix/timberland/consul/consul.env.conf

[Install]
WantedBy=multi-user.target
