[Unit]
Description="Timberland After Startup Hook"
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/radix/timberland/exec/timberland after_startup
Type=forking
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
