job "${prefix}prism" {
  all_at_once = false
  datacenters = ["dc1"]

  group "prism" {
    count = 1

    task "prism" {

      vault {
        policies = ["read-consul-ui"]

        change_mode = "signal"
        change_signal = "SIGUSR1"
      }

      template {
        data = <<EOF
      {{with secret "secret/consul-ui-token"}}
      {{ if .Data.data.token}}
            CONSUL_HTTP_TOKEN = "{{.Data.data.token}}"
      {{end}}
      {{end}}
    EOF
        destination = "secrets/file.env"
        env = true
      }

      config {
        image = "bazel/utils/prism-uservice/jvm:prism-uservice-docker"
        auth_soft_fail = false
        hostname = "${prefix}prism-$${NOMAD_ALLOC_INDEX}"
        network_mode = "weave"
        port_map = {"cluster" = 2552, "health_check" = 7562}
      }

      driver = "docker"
      env = {
        "HOSTNAME" = "${prefix}prism-$${NOMAD_ALLOC_INDEX}.service.consul",
        "KAFKA_BOOTSTRAP_SERVERS" = "${prefix}kafka-daemons-kafka-kafka.service.consul:9092",
        "AVRO_SCHEMA_REGISTRY_URL" = "http://${prefix}kc-daemons-companions-schema-registry.service.consul:8081",
        "TCP_AKKA_PORT" = "2552"
      }
      kill_timeout = "10s"
      kill_signal = "SIGINT"
      leader = false

      resources {
        cpu = 100
        memory = 512

        network {
          mbits = 10
          port "cluster" {}
        }
      }

      service {
        name = "${prefix}prism-$${NOMAD_ALLOC_INDEX}"
        port = "cluster"
        address_mode = "auto"
      }
      service {
        name = "${prefix}prism-$${NOMAD_ALLOC_INDEX}-h"
        port = "health_check"
        address_mode = "auto"
      }
      shutdown_delay = "0s"
    }
  }

  namespace = "default"
  priority = 50
  region = "global"
  type = "service"
}
